body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f2f5;
    color: #1f2937;
}

.container {
    display: flex;
    height: 100%;    
}
.main-header img{
    width: 200px;
    height: 50px;
}

.sidebar {
    width: 250px;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
    margin-top: 10px;

}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    margin-bottom: 0.5rem;
}

nav ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4b5563;
    padding: 0.5rem;
    border-radius: 0.375rem;
    transition: background-color 0.3s;
}

nav ul li a:hover, nav ul li a.active {
    background-color: #e3f2fd;
    color: #2196f3;
}

.icon {
    margin-right: 0.5rem;
}

.main-content {
    flex-grow: 1;
    padding: 10px;
    padding-bottom: 0;
    padding-right: 0;

}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 14px;
}
.user-info {
    display: flex;
    align-items: center; /* Alineación vertical centrada */
    justify-content: center; /* Alineación horizontal centrada */
    text-align: center;
   
}

.user-name {
    margin-right: 0.5rem; /* Espacio entre el nombre y el avatar */
    font-family: 'lato', sans-serif;
} 

.user-avatar {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.8)); /* Sombra usando filter */
    padding-left: 0.5rem;
    border-bottom: 0;
    cursor: pointer;
}



.dashboard-content {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.revenue-info {
    display: flex;
    justify-content: space-between;
    align-items: flex;
}

.btc-value {
    font-size: 1.875rem;
    font-weight: bold;
    margin: 0 0;
}

.change-percentage {
    font-size: 1.25rem;
    margin-top: 2px;
}


.view-report {
    color: #2196f3;
    text-decoration: none;
}


.chart-container {
    position: relative;
    height: 300px;
}


.legend-dot.blue {
    background-color: #2196f3;
}

.action-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.btn {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: #2196f3;
    color: white;
}
.btn-primary:hover{
    background-color:rgba(25, 150, 222, 0.718);

}
.btn-secondary {
    background-color: rgb(220, 221, 223);
    color: #333;
}
.btn-secondary:hover{
    background-color:rgb(238, 240, 242);
    color: #333;
}

.btn-automata {
    background-color: rgb(50, 72, 116);
    color:white;
}
.btn-automata:hover{
    background-color:rgb(63, 112, 161);
    color:white;

}
.btn .icon {
    margin-right: 0.5rem;
}

.chart-container {
    width: 100%;
    height: 400px;
}

#chartTitle {
    text-align: center;
}



.crypto-selector {
    margin-bottom: 1rem;
    outline: none;
}

.crypto-selector label {
    margin-right: 0.5rem;

}

#cryptoSelect {
    padding: 3px;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1rem;
    cursor: pointer;
    outline: none;

}

.buscar{
    position: relative;
    outline: none; 
    width: 40%;
    height: 22px;
}
.buscar input{
    padding-left: 10px;
    height: 100%;
    width: 90%;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}



.popup {
    display: none;
    position: absolute;
    top: 45px; /* Ajusta para que quede debajo del avatar */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    z-index: 100;
    width: 150px;
    border-radius: 0.5rem;
}

.popup a {
    text-decoration: none;
    color: #2196f3;
    font-weight: bold;
}

.popup a:hover {
    color: #f44336; /* Cambia el color al pasar el mouse */
}




/* Estilos para el modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
}

.modal-content {
    border-radius: 0.5rem;
    background-color: white;
    margin: 15% auto; /* Centrar el modal */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Tamaño del modal */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-spinner {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto; /* Centramos el spinner */
}