<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tradealert</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap" rel="stylesheet">

</head>

<body>
    <header>
        <div class="contenedor">
            <h1>Tradealert</h1>
            <img src="/static/images/tradealert.png" alt="LogoTradealert">
            <nav>
                <div class="links-nav">
                    <a href="/iniciar" class="link1">Iniciar Sesion</a>
                    <a href="/registro" class="link2">Registrarse</a>
                </div>
            </nav>
        </div>
    </header>

    <main>
        <dIv class="contenedor-main">
            <div class="txt-bienvenida">
                <h3>¡Bienvenido a <span style="color:rgb(0, 129, 205);">TRADEALERT!</span></h3>
                <p>La plataforma que revoluciona la forma de invertir. <br /><br />
                    ¿Te has preguntado cómo hacer que tu dinero trabaje por ti? En Tradealert, utilizamos algoritmos
                    avanzados basados en regresión lineal para analizar los mercados financieros y ayudarte a tomar
                    decisiones de inversión inteligentes y fundamentadas.
                </p>
                <div class="input">
                    <input class="input-comezar" type="text" name="Correo" placeholder="Correo electronico" required>
                    <a href="/registro" class="btn-input">Comenzar</a>
                </div>
            </div>
            <div class="logo">
                <img src="/static/images/logo.png" alt="">
                <h4>Teoria de la computación</h4>
            </div>
        </dIv>
    </main>

    <footer>
        <p>&copy; 2024 Universidad de Pamplona. Todos los derechos reservados.</p>
        <p>Desarrolladores: Jhon Jerez y Juan Basto</p>
        <p>Contacto: contacto@unipamplona.edu.co</p>
        <p><a href="#">Política de privacidad</a> | <a href="#">Términos de servicio</a></p>
    </footer>


</body>

</html>